/* Write your CSS here */
.course-time-line-details-container {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  max-width: 180px;
}
@media (min-width: 768px) {
  .course-time-line-details-container {
    flex-direction: column;
    max-width: 420px;
  }
}
.title-and-duration-card {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}
.course-title {
  font-size: 20px;
  color: #1e293b;
  font-family: 'Roboto';
}
.duration-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.clock-img {
  height: 18px;
  width: 18px;
  margin-right: 5px;
}
.duration {
  font-size: 14px;
  color: #171f46;
  font-family: 'Roboto';
}
.description {
  color: #2b237c;
  font-size: 15px;
  font-family: 'Roboto';
  display: flex;
  flex-wrap: wrap;
}
.tags-container {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  flex-flow: wrap;
}
.tag-item {
  margin: 5px;
}
.tag-name {
  background-color: #0967d2;
  color: #ffffff;
  font-size: 14px;
  font-family: 'Roboto';
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px;
}
